[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
	branch = master
	ignore = dirty
[submodule "shells/zsh/antigen"]
	path = shells/zsh/antigen
	url = https://github.com/zsh-users/antigen.git
	branch = develop
	ignore = dirty
[submodule "plugins/dotbot_plugin_aptget"]
	path = plugins/dotbot_plugin_aptget
	url = https://github.com/dein0s/dotbot_plugin_aptget.git
	branch = master
	itnore = dirty
[submodule "misc/tools/taskwarrior/taskwarrior-data"]
	path = misc/tools/taskwarrior/taskwarrior-data
	url = git@gitlab.com:dein0s/taskwarrior-data.git
